.Hero {
  display: flex;
  flex-direction: column;

  padding: 5px;
  gap: 50px;

  justify-content: space-evenly;
  align-items: left;

  margin-top: 0px;

  //   height: 100%;
  width: 1200px;
  position: relative;

  .Hero_Board {
    background-color: white;

    display: flex;

    height: 400px;
    width: 100%;

    transition: 0.5s;
  }

  .Content_Box {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: left;

    .Small_Text {
      color: white;
      font-family: sans-serif;
      font-weight: 100;
      font-size: 25px;
      text-align: left;
      margin: 0px;
      transition: 0.5s;
    }

    .Large_Text {
      color: white;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 90px;
      text-align: left;
      margin: 0px;
      transition: 0.5s;

      .Red_R {
        color: red;
      }
    }

    .Contact_Button {
      border: 1px solid red;
      background-color: rgba(0, 0, 0, 0.5);
      width: fit-content;
      padding: 5px;

      color: white;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 25px;
      transition: 0.5s;
    }
  }

  .Info {
    display: flex;
    flex-direction: column;

    gap: 50px;

    justify-content: space-evenly;
    align-items: left;

    width: 100%;

    .Info_Section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      justify-content: space-evenly;
      align-items: left;

      width: 100%;

      .Title {
        color: white;
        font-family: sans-serif;
        font-size: 35px;
        font-weight: 500;

        border-bottom: 2px solid rgba(0, 0, 0, .9);
        width: fit-content;
      }
      .Bio_Text {
        color: grey;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
        transition: 0.5s;
      }

      .Web_Profiles {
        gap: 20px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        .WebLink {
          color: #319795;
          font-family: sans-serif;
          font-size: 20px;
          font-weight: 500;

          gap: 10px;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }

      .Tech {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        .Tech_Card {
          display: flex;

          border-radius: 8px;

          height: 90px;
          width: 90px;

          overflow: hidden;
          transition: 0.5s;

          .Tech_Image {
            margin: auto;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Hero {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .Hero {
    .Content_Box {
      .Large_Text {
        font-size: 85px;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .Hero {
    .Hero_Board {
      height: 300px;
    }
    .Content_Box {
      .Large_Text {
        font-size: 85px;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .Hero {
    .Content_Box {
      .Tech {
        overflow: scroll;
      }
    }
  }
}

@media only screen and (max-width: 490px) {
  .Hero {
    .Content_Box {
      .Large_Text {
        font-size: 55px;
      }
    }
  }
}
