.Nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: relative;
  position: fixed;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 1200px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  top: 0;
  z-index: 99;
}
.Nav .Left_Side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Nav .Left_Side .Logo {
  height: 30px;
}
.Nav .Left_Side .Navlink_Container {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.Nav .Left_Side .Navlink_Container .NavItem .Navlink {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.Nav .Right_Side {
  display: flex;
  padding: 5px;
  gap: 20px;
}
.Nav .Right_Side .ModeIcon {
  color: white;
}
.Nav .Right_Side .Nav_Icon {
  color: white;
  transform: rotateY(180deg);
  transition: 0.5s;
  display: none;
}
.Nav .Mobile_Menu {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  overflow-y: scroll;
  position: absolute;
  top: 55px;
  right: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  z-index: 90;
  transition: 0.5s;
  transform: translateX(100%);
  display: none;
}
.Nav .Mobile_Menu .Logo {
  position: absolute;
  top: 10px;
}
.Nav .Mobile_Menu .CloseIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}
.Nav .Mobile_Menu .Navlink_Container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}
.Nav .Mobile_Menu .Navlink_Container .NavItem {
  border-bottom: 0.5px solid #319795;
  padding: 5px;
}
.Nav .Mobile_Menu .Navlink_Container .NavItem .Navlink {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.Nav .Mobile_Menu .Social_Icon_Bar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  gap: 30px;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.Nav .Mobile_Menu .Social_Icon_Bar .Social_Icon {
  color: #319795;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.Nav .ShowMenu {
  transform: translateX(-5px);
}

@media only screen and (max-width: 1200px) {
  .Nav {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .Nav .Left_Side {
    gap: 20px;
  }
  .Nav .Left_Side .Navlink_Container {
    display: none;
  }
  .Nav .Right_Side .Nav_Icon {
    display: block;
  }
  .Nav .Mobile_Menu {
    display: flex;
  }
}
@media only screen and (max-width: 500px) {
  .Nav .Mobile_Menu {
    width: 250px;
  }
}/*# sourceMappingURL=Nav.module.css.map */