.Nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: relative;
  position: fixed;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 1200px;

  backdrop-filter: blur(5px);

  top: 0;

  z-index: 99;

  .Left_Side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .Logo {
      height: 30px;
    }

    .Navlink_Container {
      height: 100%;
      display: flex;
      margin: auto;
      justify-content: space-evenly;
      align-items: center;
      gap: 30px;

      .NavItem {
        .Navlink {
          color: white;
          font-family: sans-serif;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }

  .Right_Side {
    display: flex;
    gap: 20px;

    .ModeIcon {
      color: white;
    }

    .Nav_Icon {
      color: white;
      transform: rotateY(180deg);
      transition: 0.5s;
      display: none;
    }
  }

  .Mobile_Menu {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #1d1d1d;

    display: flex;
    flex-direction: column;

    padding: 10px;
    gap: 10px;

    // justify-content: space-evenly;
    // align-items: center;

    position: absolute;
    top: 50px;
    right: 0px;

    overflow-y: scroll;

    height: fit-content;
    width: 500px;

    z-index: 100;
    transition: 0.5s;
    transform: translateX(100%);

    .Logo {
      position: absolute;
      top: 10px;
    }

    .CloseIcon {
      position: absolute;
      top: 10px;
      left: 10px;

      color: white;
    }

    .Navlink_Container {
      border: 1px solid white;
      display: flex;
      flex-direction: column;

      padding: 0px;
      gap: 15px;

      width: 100%;
      height: fit-content;

      margin: auto;
    }
  }

  .ShowMenu {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 1200px) {
  .Nav {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .Nav {
    .Left_Side {
      gap: 20px;
      .Navlink_Container {
        display: none;
      }
    }

    .Right_Side {
      .Nav_Icon {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .Nav {
    .Mobile_Menu {
      width: 100%;
    }
  }
}

