.Nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: relative;
  position: fixed;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 1200px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  top: 0;
  z-index: 99;
}
.Nav .Left_Side {
  display: flex;
}
.Nav .Left_Side .Brand {
  color: red;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  margin: auto;
}
.Nav .Left_Side .Navlink_Container {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.Nav .Left_Side .Navlink_Container .NavItem .Navlink {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.Nav .Right_Side {
  display: flex;
  gap: 20px;
}
.Nav .Right_Side .ModeIcon {
  color: white;
}
.Nav .Right_Side .Nav_Icon {
  color: white;
  transform: rotateY(180deg);
  transition: 0.5s;
  display: none;
}
.Nav .Mobile_Menu {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 500px;
  z-index: 100;
  transform: translateY(100%);
  transition: 0.5s;
}
.Nav .Mobile_Menu .Header {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.Nav .Mobile_Menu .Header .Brand {
  color: red;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  margin: auto;
  margin-left: 0px;
}
.Nav .Mobile_Menu .Header .CloseIcon {
  color: white;
}
.Nav .Mobile_Menu .Profile_Section {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-top: 70px;
}
.Nav .Mobile_Menu .Profile_Section .Image_Container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  overflow: hidden;
  height: 150px;
  width: 200px;
}
.Nav .Mobile_Menu .Profile_Section .Image_Container .Profile_Image {
  height: 100%;
  width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.Nav .Mobile_Menu .MenuLink_Container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Nav .Mobile_Menu .MenuLink_Container .Accordion {
  background-color: #f0e7db;
}
.Nav .Mobile_Menu .MenuLink_Container .Accordion .MuiSvgIcon-root {
  color: white;
}
.Nav .ShowMenu {
  transform: translateY(0%);
}

@media only screen and (max-width: 1200px) {
  .Nav {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .Nav .Left_Side .Navlink_Container {
    display: none;
  }
  .Nav .Right_Side .Nav_Icon {
    display: block;
  }
  .Nav .Mobile_Menu {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .Nav .Mobile_Menu .Profile_Section {
    margin-top: 100px;
  }
}/*# sourceMappingURL=Nav.module.css.map */