.Nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: relative;
  position: fixed;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 1200px;

  backdrop-filter: blur(5px);

  top: 0;

  z-index: 99;

  .Left_Side {
    display: flex;

    .Logo {
      height: 30px;
    }

    .Navlink_Container {
      height: 100%;
      display: flex;
      margin: auto;
      justify-content: space-evenly;
      align-items: center;
      gap: 30px;

      .NavItem {
        .Navlink {
          color: white;
          font-family: sans-serif;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }

  .Right_Side {
    display: flex;
    gap: 20px;

    .ModeIcon {
      color: white;
    }

    .Nav_Icon {
      color: white;
      transform: rotateY(180deg);
      transition: 0.5s;
      display: none;
    }
  }

  .Mobile_Menu {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    position: relative;
    position: absolute;
    top: 0;
    right: 0;

    padding-top: 70px;
    gap: 15px;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    z-index: 100;
    transform: translateY(100%);
    transition: 0.5s;

    .Header {
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      // height: 200px;
      width: 100%;
      padding: 5px;
      justify-content: space-between;
      align-items: left;
      position: relative;
      position: absolute;
      top: 0px;
      right: 0px;
      // margin-top: 0px;
      background-color: rgba(0, 0, 0, 0.8);

      z-index: 10;

      .Logo {
        height: 60px;
        width: 60px;
      }

      .Large_Text {
        color: white;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-size: 50px;
        text-align: left;
        transition: 0.5s;
  
        .Red_R {
          color: red;
        }
      }

      .CloseIcon {
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    .Navlink_Container {
      border: 1px solid white;
      display: flex;
      flex-direction: column;

      padding: 5px;
      gap: 30px;

      justify-content: left;
      align-items: center;

      width: 100%;

      .NavItem {
        display: flex;
        margin: auto;
        width: 100%;
        .Navlink {
          color: white;
          font-family: sans-serif;
          font-size: 25px;
          font-weight: 400;
        }
      }
    }

  }

  .ShowMenu {
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 1200px) {
  .Nav {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .Nav {
    .Left_Side {
      .Navlink_Container {
        display: none;
      }
    }

    .Right_Side {
      .Nav_Icon {
        display: block;
      }
    }
    .Mobile_Menu {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 320px) {
  .Nav {
    .Mobile_Menu {
      .Profile_Section {
        margin-top: 300px;
      }
    }
  }
}
