.Nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: relative;
  position: fixed;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 1200px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  top: 0;
  z-index: 99;
}
.Nav .Left_Side {
  display: flex;
}
.Nav .Left_Side .Logo {
  height: 30px;
}
.Nav .Left_Side .Navlink_Container {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.Nav .Left_Side .Navlink_Container .NavItem .Navlink {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.Nav .Right_Side {
  display: flex;
  gap: 20px;
}
.Nav .Right_Side .ModeIcon {
  color: white;
}
.Nav .Right_Side .Nav_Icon {
  color: white;
  transform: rotateY(180deg);
  transition: 0.5s;
  display: none;
}
.Nav .Mobile_Menu {
  background-color: #1d1d1d;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  transform: translateY(100%);
  transition: 0.5s;
}
.Nav .Mobile_Menu .Header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  align-items: left;
  position: relative;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.Nav .Mobile_Menu .Header .Logo {
  height: 60px;
  width: 60px;
}
.Nav .Mobile_Menu .Header .Large_Text {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-align: left;
  transition: 0.5s;
}
.Nav .Mobile_Menu .Header .Large_Text .Red_R {
  color: red;
}
.Nav .Mobile_Menu .Header .CloseIcon {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}
.Nav .Mobile_Menu .Navlink_Container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 18px;
  justify-content: left;
  align-items: center;
  width: 100%;
}
.Nav .Mobile_Menu .Navlink_Container .NavItem {
  display: flex;
  margin: auto;
  width: 100%;
}
.Nav .Mobile_Menu .Navlink_Container .NavItem .Navlink {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.Nav .Mobile_Menu .Social_Icon_Bar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  gap: 30px;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.Nav .Mobile_Menu .Social_Icon_Bar .Social_Icon {
  color: #319795;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.Nav .ShowMenu {
  transform: translateY(0%);
}

@media only screen and (max-width: 1200px) {
  .Nav {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .Nav .Left_Side .Navlink_Container {
    display: none;
  }
  .Nav .Right_Side .Nav_Icon {
    display: block;
  }
  .Nav .Mobile_Menu {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .Nav .Mobile_Menu .Profile_Section {
    margin-top: 300px;
  }
}/*# sourceMappingURL=Nav.module.css.map */